<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

 	<typeAliases>
 		<typeAlias alias="memberVO" type="com.bread.app.vo.MemberVO" />
 		<typeAlias alias="bakeryVO" type="com.bread.app.vo.BakeryVO" />
 		<typeAlias alias="searchVO" type="com.bread.app.vo.SearchVO" />
 		<typeAlias alias="noticeVO" type="com.bread.app.vo.NoticeVO" />
		<typeAlias alias="breadVO" type="com.bread.app.vo.BreadVO" />
		<typeAlias alias="orderListVO" type="com.bread.app.vo.OrderListVO" />
		<typeAlias alias="reviewVO" type="com.bread.app.vo.ReviewVO" />
		<typeAlias alias="cartVO" type="com.bread.app.vo.CartVO" />
		<typeAlias alias="pageVO" type="com.bread.app.vo.PageVO" />
		<typeAlias alias="adminProductVO" type="com.bread.app.vo.AdminProductVO" />
 	</typeAliases>
 
</configuration>