@charset "UTF-8";
    h1{font-size:0;}
        * {margin:0;
          padding:0;
        }
        body{
            overflow-x: hidden;
        }
        #wrap{
            width: 1536px;
            height: 1500px;
            margin: 0 auto;
        }   
        /********** 헤더 영역 **********/
        header{
            width:1536px;
            height: 245px;
        }
        #main_logo{
            position:relative;
            top: 50px;
            left:-7px;
            height: 200px;
            width: 350px;
            cursor: pointer;
        }
        #c1{
            position:relative;
            left: 1160px;
            bottom:786px;
            width:36px;
            height:36px;
        }
        #c2{
            position: relative;
            left: 37px;
            top:63px;
            height:45px;
            width:45px;
        }
        #c3{
            position: relative;
            left:262px;
            top:63px;
            height:45px;
            width:45px;
        }
        #c4{
            position: relative;
            left: 462px;
            top:66px;
            height:45px;
            width:45px;
        }
        #c5{
            position: relative;
            left: 663px;
            top:63px;
            height:45px;
            width:45px;
        }
        #header_list{
            position: relative;
            left:457px;
            bottom:80px;
        }
        #header_list ul li{
            display:inline;
            width:260px;
            float: left;
            list-style: none;
        }
        #header_list ul li a{
            font: 40px solid;
            font-family: 'Grape Nuts', cursive;
            font-family: 'Nanum Pen Script', cursive;
            color:gray;
            text-decoration-line: none;
        }
        span{
            font: bold 50px solid;
            font-family: 'Grape Nuts', cursive;
            font-family: 'Nanum Pen Script', cursive;
            color: #F39C12;
        }
        #line1{
            position: relative;
            left:400px;
            width:1136px;
            border-top: 1px solid gray;
        }



        /********** 메인 영역 **********/

        /********** 사이드 메뉴바 영역 **********/


        #container-content{
            display: inline-block;
            width: 1536px; 
            height: 1000px; /* 본인의 작업 사이즈에 맞게 변경 */
        }
        #side-nav{
            float: left;
            width:300px;
            height: 1000px; /* container-content height 크기와 동일하게 설정 */
        }
        #side-menu{
            position: relative;
            left:70px;
            top:127px;
            width: 220px;
            height: 400px;
            text-decoration: none;
            text-align: center;
        }
        #side-menu h2{
            font: 45px solid;
            color:rgba(0, 0, 0, 0.788);
            font-family: 'Black Han Sans', sans-serif;
            font-family: 'Gasoek One', sans-serif;
            font-family: 'Gothic A1', sans-serif;
            font-family: 'Jua', sans-serif;
        }
        #side-menu ul{
            list-style: none;
        }
         #side-menu ul li a{
        	display:block;
        	transition: all 0.5s ease-out;
            text-decoration: none;
            color:gray;
        }
        #side-menu ul li a:hover{
            transform: translateX(10px);
        }
        #side-menu ul li{
            font: 35px solid;
            font-family: 'Black Han Sans', sans-serif;
            font-family: 'Gasoek One', sans-serif;
            font-family: 'Gothic A1', sans-serif;
            font-family: 'Jua', sans-serif;
            margin-top: 30px;
            padding-right:35px;
        }
        #search_table tr{
        	position:relative;
        	left:75px;
        }
        /********** 사이드 메뉴바 영역 끝 **********/

        #all_box{
            width: 100%;
            max-width: 1200px;
            height: 100%;
            float: right;
            text-align: center;
            font-family: 'Jua', sans-serif;
        }
        #all_box h2{
            font-size: 50px;
            margin: 30px 0 30px 0;
            color: rgba(0, 0, 0, 0.788);
        }
        #admin_table_box{
            width: 1137px;
            height: 1000px;
            margin: 0 auto;
            margin-left: 63px;
            text-align: center;
            border: 1px solid lightgrey;
            border-radius: 15px;
            padding:10px 18px 30px 18px;
        }
        #admin_table{
            width: 100%;
            font-family: "Jua", sans-serif;
        }
        #admin_table tr{
            width:1536px;
            height:50px;
            position: relative;
            left:20px;
        }
        #admin_table tr th{
            position: relative;
            right:25px;
	        padding-top: 19px;
            padding-bottom: 19px;
            font-weight:normal;
            font-size:25px;
            font-family:'Jua', sans-serif;
            color:#616161;
        }
        #admin_table tr td{
            position: relative;
	        right:25px;
            padding-top: 20px;
            height: 10%;
            font-size: 20px;
            color: rgba(0, 0, 0, 0.788);
        }
        #admin_table input{
            padding: 30px;
        }
        #total_mem{
        	font: 22px solid;
        	color:rgba(0, 0, 0, 0.788);
        	font-family: 'Black Han Sans', sans-serif;
            font-family: 'Gasoek One', sans-serif;
            font-family: 'Gothic A1', sans-serif;
            font-family: 'Jua', sans-serif;
        }
        select{
        	position:relative;
        	bottom:1px;
        	width:80px;
        	height:27px;
        	color:rgba(0, 0, 0, 0.788);
        	margin-left:10px;
        }
        #search_text{
        	position:relative;
        	padding-left:5px;
        	width:175px;
        	height:27px;
        	color:rgba(0, 0, 0, 0.788);
        	font:15px solid;
        }
        #submit_button{
        	position:relative;
        	bottom:1px;
        	width:40px;
        	color:rgba(0, 0, 0, 0.788);
        	background-color:white;
       		text-align:center;
        	border:1px solid gray;
        }
        #member_del_btn_box {
            display: inline;
            float: right;
        }
        .paging_a{
        	position:relative;
        	top:50px;
        	text-decoration:none;
        }
		.paging_a span{
			color:gray;
			font:bold 25px solid ;
		}
		.paging_a span:hover{
			color:#F39C12;
			transition: 0.5s;
			font:bold 25px solid ;
		}
		button[type=button]{
			width:40px;
			height:30px;
			border:1px solid gray;
			text-align:center;
			background-color:white;
			color:rgba(0, 0, 0, 0.788);
		}
		.paging_a{
        	position:relative;
        	font:25px solid;
        	top:80px;
            text-decoration: none;
            color:gray;
        }
        .paging_a:hover{
            text-decoration: none;
            color:#F39C12;
            transition:0.5s;
        }
        .paging_a span{
        	position:relative;
        	font: bold 40px solid;
            color:gray;
            font-family: 'Black Han Sans', sans-serif;
            font-family: 'Gasoek One', sans-serif;
            font-family: 'Gothic A1', sans-serif;
            font-family: 'Jua', sans-serif;
        }
        .paging_a span:hover{
            color:#F39C12;
            transition: 0.5s;
        }

        /********** 풋터 **********/
        footer{
            position:absolute;
            top: 1500px;
            width:1536px;
            height:300px;
            margin-top: 300px;
            margin-bottom:0px;
            background-color: rgb(245,246,247);
        }
        #infobox{
            position: relative;
            top:20px;
            width:1536px;
            height:300px;
        }
        #infobox ul{
            width:400px;
            height:400px;
        }
        #infobox ul li{
            list-style: none;
            width:400px;
        }
        #infobox span{
            font: 40px solid;
            color:gray;
            font-family: 'Black Han Sans', sans-serif;
            font-family: 'Gasoek One', sans-serif;
            font-family: 'Gothic A1', sans-serif;
            font-family: 'Jua', sans-serif;
        }
        #infobox a{
            font: 30px solid;
            color:gray;
            font-family: 'Black Han Sans', sans-serif;
            font-family: 'Gasoek One', sans-serif;
            font-family: 'Gothic A1', sans-serif;
            font-family: 'Jua', sans-serif;
        }
        #infobox p{
            font: 20px solid;
            color:gray;
            font-family: 'Black Han Sans', sans-serif;
            font-family: 'Gasoek One', sans-serif;
            font-family: 'Gothic A1', sans-serif;
            font-family: 'Jua', sans-serif;
        }