    h1{font-size:0;}
        * {margin:0;
          padding:0;
        }
        body{
            overflow-x: hidden;
        }
        #wrap{
            width: 1536px;
            height: 1500px;
            margin: 0 auto;
        }   
        header{
            width:1536px;
            height: 245px;
        }
        #main_logo{
            position:relative;
            top: 50px;
            left:-7px;
            height: 200px;
            width: 350px;
            cursor: pointer;
        }
        #c1{
            position:relative;
            left: 1160px;
            bottom:786px;
            width:36px;
            height:36px;
        }
        #c2{
            position: relative;
            left: 37px;
            top:63px;
            height:45px;
            width:45px;
        }
        #c3{
            position: relative;
            left:262px;
            top:63px;
            height:45px;
            width:45px;
        }
        #c4{
            position: relative;
            left: 462px;
            top:66px;
            height:45px;
            width:45px;
        }
        #c5{
            position: relative;
            left: 663px;
            top:63px;
            height:45px;
            width:45px;
        }
        #header_list{
            position: relative;
            left:457px;
            bottom:80px;
        }
        #header_list ul li{
            display:inline;
            width:260px;
            float: left;
            list-style: none;
        }
        #header_list ul li a{
            font: 40px solid;
            font-family: 'Grape Nuts', cursive;
            font-family: 'Nanum Pen Script', cursive;
            color:gray;
            text-decoration-line: none;
        }
        span{
            font: bold 50px solid;
            font-family: 'Grape Nuts', cursive;
            font-family: 'Nanum Pen Script', cursive;
            color: #F39C12;
        }
        #line1{
            position: relative;
            left:400px;
            width:1136px;
            border-top: 1px solid gray;
        }

        #container-content{
            display: inline-block;
            width: 1536px; 
            height: 1400px; 
        }
        #side-nav{
            float: left;
            width:300px;
            height: 1000px; 
        }
        #side-menu{
            position: relative;
            left:70px;
            top:127px;
            width: 220px;
            height: 400px;
            text-decoration: none;
            text-align: center;
        }
        #side-menu h2{
            font: 45px solid;
            color:rgba(0, 0, 0, 0.788);
            font-family: 'Black Han Sans', sans-serif;
            font-family: 'Gasoek One', sans-serif;
            font-family: 'Gothic A1', sans-serif;
            font-family: 'Jua', sans-serif;
        }
        #side-menu ul{
            list-style: none;
        }
         #side-menu ul li a{
        	display:block;
        	transition: all 0.5s ease-out;
            text-decoration: none;
            color:gray;
        }
        #side-menu ul li a:hover{
            transform: translateX(10px);
        }
        #side-menu ul li{
            font: 35px solid;
            font-family: 'Black Han Sans', sans-serif;
            font-family: 'Gasoek One', sans-serif;
            font-family: 'Gothic A1', sans-serif;
            font-family: 'Jua', sans-serif;
            margin-top: 30px;
            padding-right:35px;
        }
		.category{
			padding-bottom:4px;
		}
        #all_box{
            width: 100%;
            max-width: 1200px;
            height: 1250px;
            float: right;
            color:rgba(0, 0, 0, 0.788);
            font-family: 'Jua', sans-serif;
            text-align: center;
        }
        #all_box h2{
            font-size: 50px;
            margin: 30px 0 30px 0;
            color:rgba(0, 0, 0, 0.788);
        }
        #product_box{
            width: 1137px;
            height: 1100px;
            margin: 0 auto;
            margin-left: 63px;
            margin-top:3px;
            text-align: center;
            border: 1px solid lightgrey;
            border-radius: 15px;
            padding: 10px 18px 30px 18px;
        }
        .product_table{
            width: 100%;
        }
        #noproduct{
        	position:relative;
        	left:420px;
        	top:415px;
        	font: 25px solid;
            color:gray;
            font-family: 'Jua', sans-serif;
        }
        .product_table tr:first-child{
			width:100%;
			height:86px;
			vertical-align: middle;
		    border-bottom: 1px solid lightgray;
        }
        .product_table tr th:first-child{
            width: 385px;
        }
        .product_table tr th{
        	position:relative;
        	top:3px;
            font: 25px solid;
            color:gray;
            font-family: 'Jua', sans-serif;
            width: 148px;
            height: 87px;
        }
        .product_table_box{
            width: 100%;
        }
        .product_table tr td:first-child{
            width: 385px;
            height: 90px;
            display: flex;
        }
        .product_table tr td #product_title {
            width: 250px;
            margin: auto;
            line-height: 70px;
        }
        .product_table tr td {
            width: 148px;
            height: 90px;
            font-size: 20px;
            padding-top: 10px;
        }
        .product_table tr td img {
            width: 80px;
            height: 80px;
            border-radius: 15px;
        }

        #product_btn{
            background-color: #fff;
            border: none;
        }
         #product_btn:hover{
            color:#F39C12;
            border:none;
            transition: 0.5s;
        }
        #product_btn_box{
            width: 100px;
            float: right;
        }
        #product_btn_box input[type="button"]{
            position:relative;
            left:11px;
            top:20px;
            border: none;
            color:gray;
            font-size: 25px;
        }
        #product_btn_box input[type="button"]:hover{
            color:#F39C12;
            border:none;
            transition: 0.5s;
        }
        
        .product_table input[type="submit"]{
            border: 1px solid gray;
            color: rgba(0, 0, 0, 0.788);
            font-size: 20px;
            width:80px;
            height:35px;
            background-color: white;
            padding-top: 3px;
        }
        #search_text{
        	position:relative;
        	top:1px;
        	margin-left:77px;
        	padding-left:5px;
        	width:175px;
        	height:27px;
        	color:rgba(0, 0, 0, 0.788);
        	font:15px solid;
        }
        #submit_button{
        	position:relative;
        	width:40px;
        	color:rgba(0, 0, 0, 0.788);
        	background-color:white;
       		text-align:center;
        	border:1px solid gray;
        }
        .paging_a{
        	position:relative;
        	font:25px solid;
        	top:80px;
            text-decoration: none;
            color:gray;
        }
        .paging_a:hover{
            text-decoration: none;
            color:#F39C12;
            transition:0.5s;
        }
        .paging_a span{
        	position:relative;
        	font: bold 40px solid;
            color:gray;
            font-family: 'Black Han Sans', sans-serif;
            font-family: 'Gasoek One', sans-serif;
            font-family: 'Gothic A1', sans-serif;
            font-family: 'Jua', sans-serif;
        }
        .paging_a span:hover{
            color:#F39C12;
            transition: 0.5s;
        }
        footer{
            position:absolute;
            top: 1500px;
            width:1536px;
            height:300px;
            margin-top: 300px;
            margin-bottom:0px;
            background-color: rgb(245,246,247);
        }
        #infobox{
            position: relative;
            top:20px;
            width:1536px;
            height:300px;
        }
        #infobox ul{
            width:400px;
            height:400px;
        }
        #infobox ul li{
            list-style: none;
            width:400px;
        }
        #infobox span{
            font: 40px solid;
            color:gray;
            font-family: 'Black Han Sans', sans-serif;
            font-family: 'Gasoek One', sans-serif;
            font-family: 'Gothic A1', sans-serif;
            font-family: 'Jua', sans-serif;
        }
        #infobox a{
            font: 30px solid;
            color:gray;
            font-family: 'Black Han Sans', sans-serif;
            font-family: 'Gasoek One', sans-serif;
            font-family: 'Gothic A1', sans-serif;
            font-family: 'Jua', sans-serif;
        }
        #infobox p{
            font: 20px solid;
            color:gray;
            font-family: 'Black Han Sans', sans-serif;
            font-family: 'Gasoek One', sans-serif;
            font-family: 'Gothic A1', sans-serif;
            font-family: 'Jua', sans-serif;
        }