h1{font-size:0;}
        * {margin:0;
          padding:0;
        }
        body{
            overflow-x: hidden;
        }
        #wrap{
            width: 1536px;
            height: 2000px;
            margin: 0 auto;
        }   
        /********** 헤더 영역 **********/
        header{
            width:1536px;
            height: 245px;
        }
        #main_logo{
            position:relative;
            top: 50px;
            left:-7px;
            height: 200px;
            width: 350px;
            cursor: pointer;
        }
        #c1{
            position:relative;
            left: 1160px;
            bottom:786px;
            width:36px;
            height:36px;
        }
        #c2{
            position: relative;
            left: 37px;
            top:63px;
            height:45px;
            width:45px;
        }
        #c3{
            position: relative;
            left:262px;
            top:63px;
            height:45px;
            width:45px;
        }
        #c4{
            position: relative;
            left: 462px;
            top:66px;
            height:45px;
            width:45px;
        }
        #c5{
            position: relative;
            left: 663px;
            top:63px;
            height:45px;
            width:45px;
        }
        #header_list{
            position: relative;
            left:457px;
            bottom:80px;
        }
        #header_list ul li{
            display:inline;
            width:260px;
            float: left;
            list-style: none;
        }
        #header_list ul li a{
            font: 40px solid;
            font-family: 'Grape Nuts', cursive;
            font-family: 'Nanum Pen Script', cursive;
            color:gray;
            text-decoration-line: none;
        }
        span{
            font: bold 50px solid;
            font-family: 'Grape Nuts', cursive;
            font-family: 'Nanum Pen Script', cursive;
            color: #F39C12;
        }
        #line1{
            position: relative;
            left:400px;
            width:1136px;
            border-top: 1px solid gray;
        }
        /********** 메인 영역 **********/
        #container-content{
            width: 1536px;
            height: 1050px;
        }
        #join-box{
            position: relative;
            width:800px;
            height:1050px;
            margin:0 auto;
            margin-top: 100px;
            border:1px solid lightgray;
            border-radius: 15px;
            font: 17px sans-serif;
        }
        #join-box h2{
            position: relative;
            left:340px;
            top:70px;
            font: 60px solid;
            font-family: 'Black Han Sans', sans-serif;
            font-family: 'Gasoek One', sans-serif;
            font-family: 'Gothic A1', sans-serif;
            font-family: 'Jua', sans-serif;
            color:gray;
            width:200px;
            height: 90px;
        }

        .faq-container {
        position: relative;
        top:100px;
        max-width: 600px;
        margin: 0 auto;
        }

        .faq {
        background-color: transparent;
        border: 1px solid #9fa4a8;
        border-radius: 10px;
        margin: 20px 0;
        padding: 30px;
        position: relative;
        overflow: hidden;
        transition: 0.3s ease;
        }

        .faq.active {
        background-color: #fff;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
        }

        .faq.active::before,
        .faq.active::after {
        content: '\f075';
        font-family: 'Font Awesome 5 Free';
        color: #2ecc71;
        font-size: 7rem;
        position: absolute;
        opacity: 0.2;
        top: 20px;
        left: 20px;
        z-index: 0;
        }

        .faq.active::before {
        color: #3498db;
        top: -10px;
        left: -30px;
        transform: rotateY(180deg);
        }

        .faq-title {
        position: relative;
        top:10px;
        color:gray;
        font-family: 'Black Han Sans', sans-serif;
        font-family: 'Gasoek One', sans-serif;
        font-family: 'Gothic A1', sans-serif;
        font-family: 'Jua', sans-serif;
        }

        .faq-text {
        display: none;
        margin: 30px 0 0;
        color:gray;
        font: 20px solid;
        font-family: 'Black Han Sans', sans-serif;
        font-family: 'Gasoek One', sans-serif;
        font-family: 'Gothic A1', sans-serif;
        font-family: 'Jua', sans-serif;
        }

        .faq.active .faq-text {
        display: block;
        }

        .faq-toggle {
        background-color: transparent;
        border: 0;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        padding: 0;
        position: absolute;
        top: 35px;
        right: 30px;
        height: 40px;
        width: 40px;
        }

        .faq-toggle:focus {
        outline: 0;
        }

        .faq-toggle .fa-times {
        display: none;
        }

        .faq.active .faq-toggle .fa-times {
        color: #fff;
        display: block;
        }

        .faq.active .faq-toggle .fa-chevron-down {
        display: none;
        }

        .faq.active .faq-toggle {
        background-color: orange;
        }
        /********** 푸터 영역 **********/
        footer{
            position:absolute;
            width:1536px;
            height:300px;
            margin-top:300px;
            margin-bottom:0px;
            background-color: rgb(245,246,247);
        }
        #infobox{
            position: relative;
            top:20px;
            width:1536px;
            height:300px;
        }
        #infobox ul{
            width:400px;
            height:400px;
        }
        #infobox ul li{
            list-style: none;
            width:400px;
        }
        #infobox span{
            font: 40px solid;
            color:gray;
            font-family: 'Black Han Sans', sans-serif;
            font-family: 'Gasoek One', sans-serif;
            font-family: 'Gothic A1', sans-serif;
            font-family: 'Jua', sans-serif;
        }
        #infobox a{
            font: 30px solid;
            color:gray;
            font-family: 'Black Han Sans', sans-serif;
            font-family: 'Gasoek One', sans-serif;
            font-family: 'Gothic A1', sans-serif;
            font-family: 'Jua', sans-serif;
        }
        #infobox p{
            font: 20px solid;
            color:gray;
            font-family: 'Black Han Sans', sans-serif;
            font-family: 'Gasoek One', sans-serif;
            font-family: 'Gothic A1', sans-serif;
            font-family: 'Jua', sans-serif;
        }