@charset "UTF-8";

#wrap{
	width: 800px;
	height: 900px;
	margin: 0 auto;
}

#table-main{
	width: 800px;
	height: 500px;
	
}

#input-title{
	border: 1px solid lightgray;
	border-radius: 20px;
	margin-right: 120px;
	padding-left: 10px;
	width: 600px;
	height: 40px;
	color: gray;
	font: 20px solid bold, sans-serif;
}

#tr-title{
	height: 50px;	
}

#content{
	width: 600px;
	height: 300px;
}

