    h1{font-size:0;}
        * {margin:0;
          padding:0;
        }
        body{
            overflow-x: hidden;
        }
        #wrap{
            width: 1536px;
            height: 1500px;
            margin: 0 auto;
        }   
        /********** 헤더 영역 **********/
        header{
            width:1536px;
            height: 245px;
        }
        #main_logo{
            position:relative;
            top: 50px;
            left:-7px;
            height: 200px;
            width: 350px;
            cursor: pointer;
        }
        #c1{
            position:relative;
            left: 1160px;
            bottom:786px;
            width:36px;
            height:36px;
        }
        #c2{
            position: relative;
            left: 37px;
            top:63px;
            height:45px;
            width:45px;
        }
        #c3{
            position: relative;
            left:262px;
            top:63px;
            height:45px;
            width:45px;
        }
        #c4{
            position: relative;
            left: 462px;
            top:66px;
            height:45px;
            width:45px;
        }
        #c5{
            position: relative;
            left: 663px;
            top:63px;
            height:45px;
            width:45px;
        }
        #header_list{
            position: relative;
            left:457px;
            bottom:80px;
        }
        #header_list ul li{
            display:inline;
            width:260px;
            float: left;
            list-style: none;
        }
        #header_list ul li a{
            font: 40px solid;
            font-family: 'Grape Nuts', cursive;
            font-family: 'Nanum Pen Script', cursive;
            color:gray;
            text-decoration-line: none;
        }
        span{
            font: bold 50px solid;
            font-family: 'Grape Nuts', cursive;
            font-family: 'Nanum Pen Script', cursive;
            color: #F39C12;
        }
        #line1{
            position: relative;
            left:400px;
            width:1136px;
            border-top: 1px solid gray;
        }



        /********** 메인 영역 **********/
        #all_box{
            width: 100%;
            max-width: 1200px;
            height: 100%;
            float: right;
        }
        #view_box{
            margin: 0 auto;
            width: 100%;
            max-width: 1000px;
            text-align: center;
        }
        .view_table_box{
            height: 800px;
            border: 3px solid lightgrey;
            border-radius: 15px;
        }
        .view_table{
            width: 100%;
            max-width: 1000px;
            height: 100%;
        }
        .view_table tr th{
            width: 130px;
            height: 55px;
            font: 25px solid;
            font-family: 'Jua', sans-serif;
        }
        .view_table tr td{
            text-align: left;
            padding-left: 20px;
            font: 20px solid;
            font-family: 'Jua', sans-serif;
        }
        .view_table tr:nth-child(2){
            border-bottom: 3px solid lightgrey;
        }
        .view_table tr:nth-child(3) td{
            padding: 20px;
        }
        #foot_box{
            display: flex;
            width: 100%;
            height: 40px;
            padding: 10px;
            text-align: left;
            font: 18px solid;
            font-family: 'Jua', sans-serif;
        }
        #foot_box p{
            width: 700px;
            margin: 0;
        }
        #view_btn_box{
            display: flex;
            width: 300px;
        }
        #view_btn_box input{
            width: 100px;
            background-color: white;
            border: none;
            color: gray;
            font: 20px solid bold;
            font-family: 'Jua', sans-serif;
        }
        #view_btn_box input:hover{
            color:#F39C12;
            border:none;
            transition: 0.5s;
        }
        /********** 사이드 메뉴바 영역 **********/


        #container-content{
            display: inline-block;
            width: 1536px; 
            height: 1000px;
            margin: 0 auto;
        }

        #side-nav{
            float: left;
            width:300px;
            height: 1000px; /* container-content height 크기와 동일하게 설정 */
        }
        #side-menu{
            position: relative;
            left:70px;
            top:100px;
            width: 220px;
            height: 400px;
            text-decoration: none;
            text-align: center;
        }
        #side-menu h2{
            font: 45px solid;
            color:rgba(0, 0, 0, 0.788);
            font-family: 'Black Han Sans', sans-serif;
            font-family: 'Gasoek One', sans-serif;
            font-family: 'Gothic A1', sans-serif;
            font-family: 'Jua', sans-serif;
        }
        #side-menu ul{
            list-style: none;
        }
        #side-menu ul a{
            text-decoration: none;
            color:gray;
        }
        #side-menu ul li{
            font: 35px solid;
            color:gray;
            font-family: 'Black Han Sans', sans-serif;
            font-family: 'Gasoek One', sans-serif;
            font-family: 'Gothic A1', sans-serif;
            font-family: 'Jua', sans-serif;
            margin-top: 30px;
            padding-right:35px;
        }

        /********** 사이드 메뉴바 영역 끝 **********/
        


        /********** 풋터 **********/
        footer{
            position:absolute;
            top: 1500px;
            width:1536px;
            height:300px;
            margin-bottom:0px;
            background-color: rgb(245,246,247);
        }
        #infobox{
            position: relative;
            top:20px;
            width:1536px;
            height:300px;
        }
        #infobox ul{
            width:400px;
            height:400px;
        }
        #infobox ul li{
            list-style: none;
            width:400px;
        }
        #infobox span{
            font: 40px solid;
            color:gray;
            font-family: 'Black Han Sans', sans-serif;
            font-family: 'Gasoek One', sans-serif;
            font-family: 'Gothic A1', sans-serif;
            font-family: 'Jua', sans-serif;
        }
        #infobox a{
            font: 30px solid;
            color:gray;
            font-family: 'Black Han Sans', sans-serif;
            font-family: 'Gasoek One', sans-serif;
            font-family: 'Gothic A1', sans-serif;
            font-family: 'Jua', sans-serif;
        }
        #infobox p{
            font: 20px solid;
            color:gray;
            font-family: 'Black Han Sans', sans-serif;
            font-family: 'Gasoek One', sans-serif;
            font-family: 'Gothic A1', sans-serif;
            font-family: 'Jua', sans-serif;
        }