h1{font-size:0;}
        * {margin:0;
          padding:0;
        }
        body{
            overflow-x: hidden;
        }
        #wrap{
            width: 1536px;
            height: 1500px;
            margin: 0 auto;
        }   
        /********** 헤더 영역 **********/
        header{
            width:1536px;
            height: 245px;
        }
        #main_logo{
            position:relative;
            top: 50px;
            left:-7px;
            height: 200px;
            width: 350px;
            cursor: pointer;
        }
        #c1{
            position:relative;
            left: 1160px;
            bottom:786px;
            width:36px;
            height:36px;
        }
        #c2{
            position: relative;
            left: 37px;
            top:63px;
            height:45px;
            width:45px;
        }
        #c3{
            position: relative;
            left:262px;
            top:63px;
            height:45px;
            width:45px;
        }
        #c4{
            position: relative;
            left: 462px;
            top:66px;
            height:45px;
            width:45px;
        }
        #c5{
            position: relative;
            left: 663px;
            top:63px;
            height:45px;
            width:45px;
        }
        #header_list{
            position: relative;
            left:457px;
            bottom:80px;
        }
        #header_list ul li{
            display:inline;
            width:260px;
            float: left;
            list-style: none;
        }
        #header_list ul li a{
            font: 40px solid;
            font-family: 'Grape Nuts', cursive;
            font-family: 'Nanum Pen Script', cursive;
            color:gray;
            text-decoration-line: none;
        }
        span{
            font: bold 50px solid;
            font-family: 'Grape Nuts', cursive;
            font-family: 'Nanum Pen Script', cursive;
            color: #F39C12;
        }
        #line1{
            position: relative;
            left:400px;
            width:1136px;
            border-top: 1px solid gray;
        }



        /********** 메인 영역 **********/

        /********** 사이드 메뉴바 영역 **********/


        #container-content{
            display: inline-block;
            width: 1536px; 
            height: 650px;
            margin: 0 auto;
        }
        #all_box{
            width: 100%;
            max-width: 1200px;
            height: 650px;
            margin: 0 auto;
            text-align: center;
            font-family: 'Jua', sans-serif;
        }
        #all_box h2{
            font-size: 50px;
            margin: 30px 0 30px 0;
            color: rgba(0, 0, 0, 0.788);
        }
        #order_box{
            width: 1137px;
            height: 650px;
            margin: 0 auto;
            text-align: center;
            border: 1px solid lightgrey;
            border-radius: 15px;
            padding:10px 30px 30px 30px;
        }
        .order_table_box{
            width: 100%;
            max-width: 1000px;
        }
        .order_table{
            position: relative;
            right:12px;
            width:1100px;
            margin-top: 19px;
        }
        .order_table th{
            position: relative;
            padding-bottom: 20px;
            font-weight:normal;
            font-size:25px;
            font-family:'Jua', sans-serif;
            color:gray;
        }
        #no{
        	position:relative;
        	right:20px;
        	width:40px;
        }
        #subject{
        	position:relative;
        	width:40px;
        	right:60px;
        }
        #date{
        	position:relative;
        	width:70px;
        }
        #uploadfile{
        	position:relative;
        	width:100px;
        }
        #noproduct{
        	position:relative;
        	top:250px;
        	right:25px;
        	font: 25px solid;
            color:gray;
            font-family: 'Jua', sans-serif;
        }
        #notice1{
        	position:relative;
        	right:20px;
        	color:gray;
        	font: 20px solid;
        	font-family: 'Jua', sans-serif;
        }
        #notice2{
        	position:relative;
        	width:300px;
        	text-align:left;
        	left:40px;
        }
        #notice2 a{
        	text-decoration:none;
        	color:rgba(0, 0, 0, 0.788);
        	font: 20px solid;
        	font-family: 'Jua', sans-serif;
        }
        #notice2:hover{
        	text-decoration:underline;
        	color:rgba(0, 0, 0, 0.788);
        }
        #notice3{
        	position:relative;
        	color:gray;
        	font: 20px solid;
        	bottom:40px;
        	font-family: 'Jua', sans-serif;
        }
        #notice4{
        	position:relative;
        	font: 25px solid;
        	font-family: 'Jua', sans-serif;
        }
        .order_table tr{
            position: relative;
            left:20px;
            width:1536px;
            height:50px;
        }
        .order_table td{
            position: relative;
            top:20px;
        }
        button[type=button]{
        	position:relative;
        	width:150px;
        	left:534px;
        	top:20px;
        	font: 25px solid;
            font-family: 'Black Han Sans', sans-serif;
            font-family: 'Gasoek One', sans-serif;
            font-family: 'Gothic A1', sans-serif;
            font-family: 'Jua', sans-serif;
            color:gray;
            background-color: white;
            border:none;
        }
        button[type=button]:hover{
        	color:#F39C12;
            border:none;
            transition: 0.5s;
        }
        #attachimg{
        	margin-bottom:10px;
        }
        /********** 페이징 영역 **********/
        .page_box{
            clear: both;
            margin: 0 auto;
            width: 50%;
            text-align: center;
        }
        .pageNav{
            display: flex;
            margin: 50px 0 0 0;
            justify-content: center;
            list-style: none;
            padding: 0;
            font: bold 40px solid;
            font-family: 'Jua', sans-serif;
        }
        .page_box ul li{
            padding: 10px;
            text-decoration: none;
        }
        .page_box ul li a{
        	font: 25px solid;
            text-decoration: none;
            color: gray;
        }
        .page_box ul li a:hover{
            color:#F39C12;
            border:none;
            transition: 0.5s;
        }
        button{
            width:60px;
            height:35px;
            border:1px solid gray;
            background-color: white;
        }
        
        /********** 풋터 **********/
        footer{
            position:absolute;
            top: 1450px;
            width:1536px;
            height:300px;
            margin-bottom:0px;
            background-color: rgb(245,246,247);
        }
        #infobox{
            position: relative;
            top:20px;
            width:1536px;
            height:300px;
        }
        #infobox ul{
            width:400px;
            height:400px;
        }
        #infobox ul li{
            list-style: none;
            width:400px;
        }
        #infobox span{
            font: 40px solid;
            color:gray;
            font-family: 'Black Han Sans', sans-serif;
            font-family: 'Gasoek One', sans-serif;
            font-family: 'Gothic A1', sans-serif;
            font-family: 'Jua', sans-serif;
        }
        #infobox a{
            font: 30px solid;
            color:gray;
            font-family: 'Black Han Sans', sans-serif;
            font-family: 'Gasoek One', sans-serif;
            font-family: 'Gothic A1', sans-serif;
            font-family: 'Jua', sans-serif;
        }
        #infobox p{
            font: 20px solid;
            color:gray;
            font-family: 'Black Han Sans', sans-serif;
            font-family: 'Gasoek One', sans-serif;
            font-family: 'Gothic A1', sans-serif;
            font-family: 'Jua', sans-serif;
        }