@charset "UTF-8";
	h1 {
	font-size: 0;
	}
	* {
	margin: 0;
	padding: 0;
	}
	body {
	overflow-x: hidden;
	}
	#wrap {
	width: 1536px;
	height: 1500px;
	margin: 0 auto;
	}
	/********** 헤더 영역 **********/
	header {
	width: 1536px;
	height: 245px;
	}
	#main_logo {
	position: relative;
	top: 50px;
	left: -7px;
	height: 200px;
	width: 350px;
	cursor: pointer;
	}
	#c1 {
	position: relative;
	left: 1160px;
	bottom: 786px;
	width: 36px;
	height: 36px;
	}
	#c2 {
	position: relative;
	left: 37px;
	top: 63px;
	height: 45px;
	width: 45px;
	}
	#c3 {
	position: relative;
	left: 262px;
	top: 63px;
	height: 45px;
	width: 45px;
	}
	#c4 {
	position: relative;
	left: 462px;
	top: 66px;
	height: 45px;
	width: 45px;
	}
	#c5 {
	position: relative;
	left: 663px;
	top: 63px;
	height: 45px;
	width: 45px;
	}
	#header_list {
	position: relative;
	left: 457px;
	bottom: 80px;
	}
	#header_list ul li {
	display: inline;
	width: 260px;
	float: left;
	list-style: none;
	}
	#header_list ul li a {
	font: 40px solid;
	font-family: "Grape Nuts", cursive;
	font-family: "Nanum Pen Script", cursive;
	color: gray;
	text-decoration-line: none;
	}
	header span {
	font: bold 50px solid;
	font-family: "Grape Nuts", cursive;
	font-family: "Nanum Pen Script", cursive;
	color: #f39c12;
	}
	#line1 {
	position: relative;
	left: 400px;
	width: 1136px;
	border-top: 1px solid gray;
	}
	/********** 메인 영역 **********/
	#container-content {
	display: inline-block;
	width: 1536px;
	
	margin: 0 auto;
	}
	#side-nav {
	float: left;
	width: 300px;
	height: 1000px; /* container-content height 크기와 동일하게 설정 */
	}
	#side-menu {
	position: relative;
	left: 70px;
	top: 101px;
	width: 220px;
	height: 400px;
	text-decoration: none;
	text-align: center;
	}
	#side-menu h2 {
	position:relative;
	bottom:1px;
	font: 45px solid;
	color: rgba(0, 0, 0, 0.788);
	font-family: "Black Han Sans", sans-serif;
	font-family: "Gasoek One", sans-serif;
	font-family: "Gothic A1", sans-serif;
	font-family: "Jua", sans-serif;
	}
	#side-menu ul {
	list-style: none;
	}
	#side-menu ul li a {
	display: block;
	transition: all 0.5s ease-out;
	text-decoration: none;
	color: gray;
	}
	#side-menu ul li a:hover {
	transform: translateX(10px);
	}
	#side-menu ul li {
	font: 35px solid;
	font-family: "Black Han Sans", sans-serif;
	font-family: "Gasoek One", sans-serif;
	font-family: "Gothic A1", sans-serif;
	font-family: "Jua", sans-serif;
	margin-top: 29px;
	padding-right: 35px;
	}
	#li_2{
		position:relative;
		top:1px;
	}
	#li_3{
		position:relative;
		top:2px;
	}
	#li_4{
		position:relative;
		top:3px;
	}
	#li_5{
		position:relative;
		top:4px;
	}	
	#li_6{
		position:relative;
		top:5px;
	}			
	#main-area {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    float: right;
    text-align: center;
    font-family: 'Jua', sans-serif;
	}


	/*구매내역*/
	#main-area h2 {
	font-size: 50px;
    margin: 5px 0 30px 0;
    color: rgba(0, 0, 0, 0.788);
	}
	
	#payment_complete {
	width: 1137px;
    margin: 0 auto;
    margin-left: 63px;
    text-align: center;
	}	


	.orderlist {
		width: 1137px;
		margin-bottom: 50px;
		font-family: "Jua", sans-serif;
		border: 2px solid grey;
    	border-radius: 15px;
	}
	.orderlist_box{
		width: 1118px;
		margin-left: 8px;
		text-align: left;
		border-bottom: 1px solid lightgray;
	}
	.orderlist_box1{
		display:flex;
		height: 45px;
	}
	.order_status{
		width: 50%;
		padding: 6px 0 0 10px;
		font-size: 25px;
		color: rgba(0, 0, 0, 0.788);
	}
	.orderlist_count{
		width: 50%;
		text-align: right;
		padding: 7px 15px 0 0;
		font-size: 25px;
	}



	.orderlist_box2{
		display: flex;
		position: relative;
		top: 1px;
		width: 1110px;
		margin-left: 12px;
		border-bottom: 1px solid lightgray;
	}
	.orderlist_box2_img{
		width: 160px;
		height: 160px;
		padding-top: 10px;
	}
	.orderlist_box2_img img{
		width: 150px;
		height: 150px;
		border-radius: 15px;
	}
	.orderlist_box2-1{
		display: block;
		width: 650px;
		padding: 10px 0 10px 10px;
		font-size: 20px;
		color: gray;
		text-align: left;
	}
	.order_date{
		height: 30px;
		padding-top: 5px;
	}
	.bakery_name{
		height: 52px;
		font-size: 25px;
		color: rgba(0, 0, 0, 0.788);
	}
	.bread_name{
		height: 30px;
	}
	
	
	
	.orderlist_box2-2{
		display: flex;
		height: 40px;
	}
	
	.text_t{
		width: 50px;
		text-align: center;
	}

	.orderlist_box2-3{
		display: flex;
		width: 300px;
	}
	.btn_box{
		width: 327px;
		padding: 18px 20px;
	}
	/* #button-write:hover {
		color: #fff;
		background-color: #f39c12;
		transition: 0.5s;
	} */
	#button-write {
		width: 270px;
		height: 60px;
		padding-top:3px;
		margin-bottom: 15px;
		border: 1px solid lightgray;
		border-radius: 5px;
		background-color: #F39C12;
		color: #fff;
		font-size: 25px;
		font-family: "Jua", sans-serif;
		transition: all 0.5s;
		cursor: pointer;
	}
	
	#button-write span{
		cursor: pointer;
		display: inline-block;
		position: relative;
		transition: 0.5s;
	}
	#button-write span:after{
		content: '→';
		position: absolute;
		opacity: 0;
		top: 0;
		right: -40px;
		transition: 0.5s;
	}
	#button-write:hover span{
		padding-right: 40px;
		transition: 0.5s;
	}
	#button-write:hover span:after{
		opacity: 1;
		right: 0;
	}	
	#button-re{
		width: 270px;
		height: 60px;
		padding-top:5px;
		border: 1px solid lightgray;
		border-radius: 5px;
		background-color: lightgrey;
		color: #fff;
		font-size: 25px;
		font-family: "Jua", sans-serif;
	}
	
	#button-re span{
		cursor: poiner;
		display: inline-block;
		position: relative;
		transition: 0.5s;
	}
	#button-re span:after{
		content: '→';
		position: absolute;
		opacity: 0;
		top: 0;
		right: -40px;
		transition: 0.5s;
	}
	#button-re:hover span{
		padding-right: 40px;
		transition: 0.5s;
	}
	#button-re:hover span:after{
		opacity: 1;
		right: 0;
	}
	
	
	
	.orderlist_all_p{
		height: 60px;
		padding-top: 10px;
		font-size: 30px;
		color: rgba(0, 0, 0, 0.788);
	}
	.orderlist_all_p_s{
		font-size: 30px;
		color: #F39C12;
	}
	
	
	
	/********** 페이징 영역 **********/
	.paging_a{
        position:relative;
        font:25px solid;
        top:80px;
        text-decoration: none;
        color:gray;
    }
    .paging_a:hover{
        text-decoration: none;
        color:#F39C12;
        transition:0.5s;
    }
    .paging_a span{
        position:relative;
        font: bold 40px solid;
        color:gray;
        font-family: 'Black Han Sans', sans-serif;
        font-family: 'Gasoek One', sans-serif;
        font-family: 'Gothic A1', sans-serif;
        font-family: 'Jua', sans-serif;
    }
    .paging_a span:hover{
        color:#F39C12;
        transition: 0.5s;
    }

    button{
    width:130px;
    height:35px;
    border:1px solid gray;
    background-color: white;
    }
    #noOrder{
	position: relative;
    top: 20px;
    right: 30px;
    margin: 0 auto;
    width: 720px;
    height: 46px;
    font: 25px solid;
    color: gray;
    font-family: 'Jua', sans-serif;
    border-bottom: 1px solid lightgray;
    }
	/********** 푸터 영역 **********/
	footer {
	  position: absolute;
	  width: 1536px;
	  height: 300px;
	  margin-top: 300px;
	  margin-bottom: 0px;
	  background-color: rgb(245, 246, 247);
	}
	#infobox {
	  position: relative;
	  top: 20px;
	  width: 1536px;
	  height: 300px;
	}
	#infobox ul {
	  width: 400px;
	  height: 400px;
	}
	#infobox ul li {
	  list-style: none;
	  width: 400px;
	}
	#infobox span {
	  font: 40px solid;
	  color: gray;
	  font-family: "Black Han Sans", sans-serif;
	  font-family: "Gasoek One", sans-serif;
	  font-family: "Gothic A1", sans-serif;
	  font-family: "Jua", sans-serif;
	}
	#infobox a {
	  font: 30px solid;
	  color: gray;
	  font-family: "Black Han Sans", sans-serif;
	  font-family: "Gasoek One", sans-serif;
	  font-family: "Gothic A1", sans-serif;
	  font-family: "Jua", sans-serif;
	}
	#infobox p {
	  font: 20px solid;
	  color: gray;
	  font-family: "Black Han Sans", sans-serif;
	  font-family: "Gasoek One", sans-serif;
	  font-family: "Gothic A1", sans-serif;
	  font-family: "Jua", sans-serif;
	}
