		h1{font-size:0;}
        * {margin:0;
          padding:0;
        }
        body{
            overflow-x: hidden;
        }
        #wrap{
            width: 1536px;
            height: 1500px;
            margin: 0 auto;
        }
        /********** 헤더 영역 **********/
        header{
            width:1536px;
            height: 245px;
        }
        #main_logo{
            position:relative;
            top: 50px;
            left:-7px;
            height: 200px;
            width: 350px;
            cursor: pointer;
        }
        #c1{
            position:relative;
            left: 1160px;
            bottom:786px;
            width:36px;
            height:36px;
        }
        #c2{
            position: relative;
            left: 37px;
            top:63px;
            height:45px;
            width:45px;
        }
        #c3{
            position: relative;
            left:262px;
            top:63px;
            height:45px;
            width:45px;
        }
        #c4{
            position: relative;
            left: 462px;
            top:66px;
            height:45px;
            width:45px;
        }
        #c5{
            position: relative;
            left: 663px;
            top:63px;
            height:45px;
            width:45px;
        }
        #header_list{
            position: relative;
            left:457px;
            bottom:80px;
        }
        #header_list ul li{
            display:inline;
            width:260px;
            float: left;
            list-style: none;
        }
        #header_list ul li a{
            font: 40px solid;
            font-family: 'Grape Nuts', cursive;
            font-family: 'Nanum Pen Script', cursive;
            color:gray;
            text-decoration-line: none;
        }
        span{
            font: bold 50px solid;
            font-family: 'Grape Nuts', cursive;
            font-family: 'Nanum Pen Script', cursive;
            color: #F39C12;
        }
        #line1{
            position: relative;
            left:400px;
            width:1136px;
            border-top: 1px solid gray;
        }
        /********** 메인 영역 **********/
        #container-content{
            width: 1536px; 
            height: 1000px; /* 본인의 작업 사이즈에 맞게 변경 */
        }
        #main-area{
            position: relative;
            left:53px;
            width:1236px;
            height:859px;
            margin:0 auto;
        }
        #complete_message_box{
            width:835px;
            height:260px;
            padding-top: 50px;
            margin: 0 auto;
            font:30px solid;
            color: rgba(0, 0, 0, 0.788);
            font-family: 'Black Han Sans', sans-serif;
            font-family: 'Gasoek One', sans-serif;
            font-family: 'Gothic A1', sans-serif;
            font-family: 'Jua', sans-serif;
        }
        #complete_sub{
            width:770px;
            position:relative;
            text-align:center;
        }
        #complete_message_box p{
            width:769px;
            margin-top:50px;
            font: 50px solid;
            text-align: center;
            color: rgba(0, 0, 0, 0.788);
            font-family: 'Black Han Sans', sans-serif;
            font-family: 'Gasoek One', sans-serif;
            font-family: 'Gothic A1', sans-serif;
            font-family: 'Jua', sans-serif;
        }
        #order_number{
            margin-right: 40px;;
            font:30px solid;
            text-align: center;
            color: rgba(0, 0, 0, 0.788);
            font-family: 'Black Han Sans', sans-serif;
            font-family: 'Gasoek One', sans-serif;
            font-family: 'Gothic A1', sans-serif;
            font-family: 'Jua', sans-serif;
        }
        #complete_box1{
            width:1236px;
            height:100px;
            margin: 0 auto;
            margin-top:100px;
            font:30px solid;
            color: rgba(0, 0, 0, 0.788);
            font-family: 'Black Han Sans', sans-serif;
            font-family: 'Gasoek One', sans-serif;
            font-family: 'Gothic A1', sans-serif;
            font-family: 'Jua', sans-serif;
        }
        #complete_box2{
            width:1236px;
            height:100px;
            margin: 0 auto;
            margin-top:10px;
            font:30px solid;
            color: rgba(0, 0, 0, 0.788);
            font-family: 'Black Han Sans', sans-serif;
            font-family: 'Gasoek One', sans-serif;
            font-family: 'Gothic A1', sans-serif;
            font-family: 'Jua', sans-serif;
        }
        #complete_box3{
            width:1236px;
            height:150px;
            margin: 0 auto;
            margin-top:100px;
            font:30px solid;
            color: gray;
            font-family: 'Black Han Sans', sans-serif;
            font-family: 'Gasoek One', sans-serif;
            font-family: 'Gothic A1', sans-serif;
            font-family: 'Jua', sans-serif;
        }
        #border_box{
            position: relative;
            left:100px;
            bottom:465px;
            width:950px;
            height:230px;
            border: 1px solid gray;
        }
        #complete_box1 ul li{
            position: relative;
            left:340px;
            padding-right:95px;
            padding-top:60px;
            list-style: none;
            text-align: left;
        }
        #complete_box2 ul li{
            position: relative;
            left:340px;
            float: left;
            padding-top:10px;
            padding-right:95px;
            list-style: none; 
        }
        #complete_box1 ul li b{
            font: 30px solid;
            color:gray;
            font-family: 'Black Han Sans', sans-serif;
            font-family: 'Gasoek One', sans-serif;
            font-family: 'Gothic A1', sans-serif;
            font-family: 'Jua', sans-serif;
        }
        #complete_box2 ul li b{
            font: 30px solid;
            color:gray;
            font-family: 'Black Han Sans', sans-serif;
            font-family: 'Gasoek One', sans-serif;
            font-family: 'Gothic A1', sans-serif;
            font-family: 'Jua', sans-serif;
        }
        #complete_box1 ul li a{
            font: 30px solid;
            color:rgba(0, 0, 0, 0.788);
            font-family: 'Black Han Sans', sans-serif;
            font-family: 'Gasoek One', sans-serif;
            font-family: 'Gothic A1', sans-serif;
            font-family: 'Jua', sans-serif;
        }
        #complete_box2 ul li a{
            position:relative;
            font: 40px solid;
            color:#F39C12;
            font-family: 'Black Han Sans', sans-serif;
            font-family: 'Gasoek One', sans-serif;
            font-family: 'Gothic A1', sans-serif;
            font-family: 'Jua', sans-serif;
        }
        #complete_message_box span{
            font: bold 60px solid;
            font-family: 'Grape Nuts', cursive;
            font-family: 'Nanum Pen Script', cursive;
            color:#F39C12;
        }
        #complete_message_box a{
            font: 50px solid;
            font-family: 'Grape Nuts', cursive;
            font-family: 'Nanum Pen Script', cursive;
            color:gray;
        }
        #order_bread{
            width:100px;
            height:100px;
            border:1px solid lightgray;
            border-radius: 100%;
        }
        #order_bread_category{
            position: relative;
            bottom:25px;
        }
        #complete_box3 p{
            position: relative;
            left:154px;
            font:22px solid;
            color:rgba(0, 0, 0, 0.788);
            font-family: 'Black Han Sans', sans-serif;
            font-family: 'Gasoek One', sans-serif;
            font-family: 'Gothic A1', sans-serif;
            font-family: 'Jua', sans-serif;
        }
        #button_1{
            position: relative;
            left:155px;
            top:30px;
            width:400px;
            height:100px;
            border:none;
            border-radius: 10px;
            background-color: #F39C12;
            color: white;
        }
        #button_2{
            position: relative;
            left:185px;
            top:30px;
            width:400px;
            height:100px;
            border:none;
            border-radius: 10px;
            background-color: #F39C12;
            color: white;
        }
        button:hover{
            background-color: white;
            color: #F39C12;
            transition: 0.5s;
            border: none;
        }        
        /********** 푸터 영역 **********/
        footer{
            position:absolute;
            width:1536px;
            height:300px;
            margin-top:100px;
            margin-bottom:0px;
            background-color: rgb(245,246,247);
        }
        #infobox{
            position: relative;
            top:20px;
            width:1536px;
            height:300px;
        }
        #infobox ul{
            width:400px;
            height:400px;
        }
        #infobox ul li{
            list-style: none;
            width:400px;
        }
        #infobox span{
            font: 40px solid;
            color:gray;
            font-family: 'Black Han Sans', sans-serif;
            font-family: 'Gasoek One', sans-serif;
            font-family: 'Gothic A1', sans-serif;
            font-family: 'Jua', sans-serif;
        }
        #infobox a{
            font: 30px solid;
            color:gray;
            font-family: 'Black Han Sans', sans-serif;
            font-family: 'Gasoek One', sans-serif;
            font-family: 'Gothic A1', sans-serif;
            font-family: 'Jua', sans-serif;
        }
        #infobox p{
            font: 20px solid;
            color:gray;
            font-family: 'Black Han Sans', sans-serif;
            font-family: 'Gasoek One', sans-serif;
            font-family: 'Gothic A1', sans-serif;
            font-family: 'Jua', sans-serif;
        }