@charset "UTF-8";
h1 {
  font-size: 0;
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

#wrap {
  width: 1536px;
  height: 1500px;
  margin: 0 auto;
}

/********** 헤더 영역 **********/
header {
  width: 1536px;
  height: 245px;
}

#main_logo {
  position: relative;
  top: 50px;
  left: -7px;
  height: 200px;
  width: 350px;
  cursor: pointer;
}

#c1 {
  position: relative;
  left: 1160px;
  bottom: 786px;
  width: 36px;
  height: 36px;
}

#c2 {
  position: relative;
  left: 37px;
  top: 63px;
  height: 45px;
  width: 45px;
}

#c3 {
  position: relative;
  left: 262px;
  top: 63px;
  height: 45px;
  width: 45px;
}

#c4 {
  position: relative;
  left: 462px;
  top: 66px;
  height: 45px;
  width: 45px;
}

#c5 {
  position: relative;
  left: 663px;
  top: 63px;
  height: 45px;
  width: 45px;
}

#header_list {
  position: relative;
  left: 457px;
  bottom: 80px;
}

#header_list ul li {
  display: inline;
  width: 260px;
  float: left;
  list-style: none;
}

#header_list ul li a {
  font: 40px solid;
  font-family: "Grape Nuts", cursive;
  font-family: "Nanum Pen Script", cursive;
  color: gray;
  text-decoration-line: none;
}

header span {
  font: bold 50px solid;
  font-family: "Grape Nuts", cursive;
  font-family: "Nanum Pen Script", cursive;
  color: #f39c12;
}

#line1 {
  position: relative;
  left: 400px;
  width: 1136px;
  border-top: 1px solid gray;
}


/********** 메인 영역 **********/
#container-content {
  display: inline-block;
  width: 1536px;
  height: 1000px;
  /* 본인의 작업 사이즈에 맞게 변경 */
}

#side-nav {
  float: left;
  width: 300px;
  height: 1000px;
  /* container-content height 크기와 동일하게 설정 */
}

#side-menu {
  position: relative;
  left: 70px;
  top: 100px;
  width: 200px;
  height: 400px;
  text-decoration: none;
}

#side-menu h2 {
  font: 45px solid;
  color: rgba(0, 0, 0, 0.788);
  font-family: "Black Han Sans", sans-serif;
  font-family: "Gasoek One", sans-serif;
  font-family: "Gothic A1", sans-serif;
  font-family: "Jua", sans-serif;
}

#main-area {
  width: 1236px;
  height: 1000px;
  float: right;
  margin-right: 60px;
}
#main-area h3{
	position: relative;
    right: 80px;
	font: 50px solid;
    text-align: center;
    color: gray;
    font-family: 'Nanum Pen Script', cursive;
}
#main-area h3 span{
	font: bold 60px solid;
    font-family: 'Nanum Pen Script', cursive;
    color: #F39C12;
}

/* 후기게시판 바디 */

.reviewBoard{
	width: 1136px;
	hieght: 462px;
	padding: 0 20px;
	font-family: "Jua", sans-serif;
}
.re_content{
	height: 110px;
}
.m_nickname{
	height: 30px;
	color: gray;
}
.reviewBoard ul{
	padding: 0;
}
.reviewBoard li {
  display: inline-table;
  width: 200px;
  padding: 30px;
  border-bottom: 1px solid #aaa;
}

.reviewBoard li a .thumb {
  position: relative;
  display: block;
  background-color: #ccc;
  height: 250px;
  color: #666;
  text-align: center;
  line-height: 120px;
}

.reviewBoard li a .thumb em {
  position: absolute; /* 절대 위치로 설정 */
  top: 0;/*absolute 이미지 위치 고정설정 설정 지우면 이미지 밑으로 내려감*/
  left: 0; /*absolute 이미지 위치 고정설정 설정 지우면 이미지 밑으로 내려감*/
  right: 0; /*absolute 이미지 위치 고정설정 설정 지우면 이미지 밑으로 내려감*/
  bottom: 0; /*absolute 이미지 위치 고정설정 설정 지우면 이미지 밑으로 내려감*/
  display: none;
  color: #eee;
  font-weight: bold;
  text-align: center;
  line-height: 250px;
}


.reviewBoard li a:hover .thumb em {
  display: block;
}

.reviewBoard li a:hover {
  text-decoration: none;
}

.reviewBoard li a strong {
  display: block;
  padding: 8px 0 4px;
  color: #333;
  font-weight: bold;
  line-height: 1.4;
}

.reviewBoard p {
  width: 200px;
  font-size: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  /*display: -webkit-box;*/
  /*-webkit-box-orient: vertical;*/
  /*-webkit-line-clamp: 2;*/
  line-height: 30px;
  margin: 0;
  /* line-height x line */
}
.resize-image {
  width: 200px;
  height: 250px;
}

.review-title {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/************ modal **************/

#modal_close_btn{
	background-color: #fff;
   	border: none;
   	width: 30px;
   	heigth: 30px;
   	position: relative;
   	left: 680px;
   	font-size: 25px;
}
#modalContainer {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.5);
	z-index: 10;
}
			
#modalContent {
	position: absolute;
	background-color: #ffffff;
	width: 750px;
	height: 900px;
	padding: 15px;
	font-family: "Jua", sans-serif;
	color: rgba(0, 0, 0, 0.788);
}
#modalContainer.hidden {
	display: none;
}
#top_info{
	width: 700px;
	height: 800px;
	margin-left:10px;
}
#bread_info01{
	display:flex;
	height: 60px;
	margin-bottom: 10px;
}
#bread_img{
	width: 700px;
	height: 400px;
	border-radius: 15px;
}
#bread_name{
	font-size: 30px;
	margin-top: 10px;
}
#review_content{
	margin-top: 10px;
	font-size: 25px;
	height: 250px;
}
#member_img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
#member_nickname{
	font-size: 30px;
	padding-top: 5px;
	padding-left: 15px;
}
#bottom_info{
	width: 700px;
	height: 100px;
	margin-left:10px;
}
#review_info{
	display: flex;
	height: 30px;
}
#content_count{
	position:relative;
	left:20px;
	width: 380px;
    font-size: 25px;
}
#content_date{
	width: 650px;
    font-size: 25px;
}
#del_box{
	width: 100px;
}
#reviewDelete_btn{
	position:relative;
	width: 160px;
	height: 30px;
	background-color: #fff;
	border: none;
}
#reviewDelete_btn span{
	text-decoration: none;
    font: 25px solid;
    font-family: 'Jua', sans-serif;
    color:gray;
    cursor: pointer;
}
#reviewDelete_btn span:hover{
	color:#F39C12;
	transition: 0.5s;
}

#paging_box{
	width: 1136px;
    position:relative;
    text-align:center;
    margin-top:80px;
    padding-right: 35px;
}
#paging_box a{
	font:25px solid;
    text-decoration: none;
    color:gray;
}
#td_paging{
    font-family: 'Jua', sans-serif;	
}
.paging_a{
    font:25px solid;
    text-decoration: none;
    color:gray;
}
.paging_a:hover{
    text-decoration: none;
    color:#F39C12;
    transition:0.5s;
}
.paging_a span{
    font: bold 40px solid;
    color:gray;
    font-family: 'Black Han Sans', sans-serif;
    font-family: 'Gasoek One', sans-serif;
    font-family: 'Gothic A1', sans-serif;
    font-family: 'Jua', sans-serif;
}
.paging_a span:hover{
    color:#F39C12;
    transition: 0.5s;
}


/********** 푸터 영역 **********/
footer {
  position: absolute;
  width: 1536px;
  height: 300px;
  margin-top: 300px;
  margin-bottom: 0px;
  background-color: rgb(245, 246, 247);
}

#infobox {
  position: relative;
  top: 20px;
  width: 1536px;
  height: 300px;
}

#infobox ul {
  width: 400px;
  height: 400px;
}

#infobox ul li {
  list-style: none;
  width: 400px;
}

#infobox span {
  font: 40px solid;
  color: gray;
  font-family: "Black Han Sans", sans-serif;
  font-family: "Gasoek One", sans-serif;
  font-family: "Gothic A1", sans-serif;
  font-family: "Jua", sans-serif;
}

#infobox a {
  font: 30px solid;
  color: gray;
  font-family: "Black Han Sans", sans-serif;
  font-family: "Gasoek One", sans-serif;
  font-family: "Gothic A1", sans-serif;
  font-family: "Jua", sans-serif;
}

#infobox p {
  font: 20px solid;
  color: gray;
  font-family: "Black Han Sans", sans-serif;
  font-family: "Gasoek One", sans-serif;
  font-family: "Gothic A1", sans-serif;
  font-family: "Jua", sans-serif;
}