        h1{font-size:0;}
        * {margin:0;
          padding:0;
        }
        body{
            overflow-x: hidden;
        }
        #wrap{
            width: 1536px;
            height: 1500px;
            margin: 0 auto;
        }   
        /********** 헤더 영역 **********/
        header{
            width:1536px;
            height: 245px;
        }
        #main_logo{
            position:relative;
            top: 50px;
            left:-7px;
            height: 200px;
            width: 350px;
            cursor: pointer;
        }
        #c1{
            position:relative;
            left: 1160px;
            bottom:786px;
            width:36px;
            height:36px;
        }
        #c2{
            position: relative;
            left: 37px;
            top:63px;
            height:45px;
            width:45px;
        }
        #c3{
            position: relative;
            left:262px;
            top:63px;
            height:45px;
            width:45px;
        }
        #c4{
            position: relative;
            left: 462px;
            top:66px;
            height:45px;
            width:45px;
        }
        #c5{
            position: relative;
            left: 663px;
            top:63px;
            height:45px;
            width:45px;
        }
        #header_list{
            position: relative;
            left:457px;
            bottom:80px;
        }
        #header_list ul li{
            display:inline;
            width:260px;
            float: left;
            list-style: none;
        }
        #header_list ul li a{
            font: 40px solid;
            font-family: 'Grape Nuts', cursive;
            font-family: 'Nanum Pen Script', cursive;
            color:gray;
            text-decoration: none;
        }
        span{
            font: bold 50px solid;
            font-family: 'Grape Nuts', cursive;
            font-family: 'Nanum Pen Script', cursive;
            color: #F39C12;
        }
        #line1{
            position: relative;
            left:400px;
            width:1136px;
            border-top: 1px solid gray;
        }
        /********** 메인 영역 **********/
        #container-content{
            width: 1536px; 
            height: 1000px;
            margin: 0 auto;
        }
        form{
            width: 100%;
            max-width: 1200px;
            height: 100%;
            float: right;
            margin-top:25px;
        }
        form span{
            font: bold 60px solid;
            font-family: 'Grape Nuts', cursive;
            font-family: 'Nanum Pen Script', cursive;
            color: #F39C12;
            text-decoration:none;
        }
        form h2{
        	position:relative;
        	right:160px;
        	font:50px solid;
        	text-align:center;
        	color:gray;
            font-family: 'Grape Nuts', cursive;
            font-family: 'Nanum Pen Script', cursive;
        }
        .paging_a{
        	position:relative;
        	font:25px solid;
        	top:80px;
            text-decoration: none;
            color:gray;
        }
        .paging_a:hover{
            text-decoration: none;
            color:#F39C12;
            transition:0.5s;
        }
        .paging_a span{
        	position:relative;
        	font: bold 40px solid;
            color:gray;
            font-family: 'Black Han Sans', sans-serif;
            font-family: 'Gasoek One', sans-serif;
            font-family: 'Gothic A1', sans-serif;
            font-family: 'Jua', sans-serif;
        }
        .paging_a span:hover{
            color:#F39C12;
            transition: 0.5s;
        }
        #search_box{
        	position:relative;
        	right:135px;
            width: 100%;
            max-width: 1200px;
            height: 100%;
            text-align: center;
            margin: 0 auto;
        }
        #search_table{
            width: 100%;
            height: 50px;
            margin-bottom: 30px;
        }
        #select_box{
            width: 140px;
            height: 40px;
            display: inline-block;
        }
        #search_table select{
            width: 100%;
            height: 100%;
            padding: 0 28px 0 10px;
            border: 4px solid lightgray;
            box-sizing: border-box;
            -webkit-appearance:none; /* for chrome */
            -moz-appearance:none; /*for firefox*/
            appearance:none;
            background: transparent;
            font: 25px solid bold;
            font-family: 'Jua', sans-serif;
            color: gray;
            background-image: url('img/select_icon.png');
            background-repeat: no-repeat; /* 이미지를 반복하지 않음 */
            background-position: right center;
        }
        #search_table select:active{
            outline: none;
            border: 4px solid lightgray;
        }
        #submit_button{
            font: 25px solid bold;
            font-family: 'Jua', sans-serif;
            color:gray;
            background-color: white;
            border: none;
            width: 100px;
            height: 40px;
            margin-top:50px;
            margin-left: 10px;
        }
        #submit_button:hover{
            color:#F39C12;
            border:none;
            transition: 0.5s;
        }
        #search_text{
            width:500px;
            height:40px;
            margin-left: 25px;
            padding-left: 10px;
            border: 4px solid #F39C12;
            border-radius: 10px;
            font: 20px solid bold, sans-serif;
        }
        input:focus{
            outline:#F39C12;
        }
        caption{
            display: none;
        }
        #shop_table{
        	position:relative;
        	top:30px;
            margin: 0 auto;
            width: 60%;
            border-bottom: 1px solid lightgray;
            margin-bottom:10px;
        }
        #shop_table_list{
            width: 100%;
            height: 100%;
            font: 25px solid;
            color:gray;
            font-family: 'Jua', sans-serif;
        }
        table tr td a{
            color: inherit;
        }
        #shop_table_list td a{
            text-decoration: none;
        }
        #shop_table_list td{
            height: 46px;
            padding: 0;
        }
        .shop_img{
        	position:relative;
            width: 180px;
            height: 140px;
            barkground-color:none;
        }
        .shop_img img{
            width: 180px;
            height: 140px;
            padding: 10px;
            border: 1px solid lightgray;
            border-radius:18px;
            margin-bottom:10px;
        }
        .shop_table_text1{
       		position:relative;
        	left:15px;
        	padding-bottom:50px;
        	font-size:45px;
        	font-family: 'Grape Nuts', cursive;
            font-family: 'Nanum Pen Script', cursive;
        	color: gray;
            text-align: left;
        }
        #go_button{
        	text-align:right;
		}
		#go_button a{
			font: 25px solid;
            color:gray;
            font-family: 'Black Han Sans', sans-serif;
            font-family: 'Gasoek One', sans-serif;
            font-family: 'Gothic A1', sans-serif;
            font-family: 'Jua', sans-serif;
            text-decoration:none;
		}
		#go_button a:hover{
            color:#F39C12;
            transition:0.5s;
            
		}
        .page_box{
            clear: both;
            margin: 0 auto;
            width: 50%;
            text-align: center;
        }
        .pageNav{
            display: flex;
            margin: 30px 0 0 0;
            justify-content: center;
            list-style: none;
            padding: 0;
            font: 25px solid bold;
            font-family: 'Jua', sans-serif;
        }
        .page_box ul li{
            padding: 10px;
            text-decoration: none;
        }
        .page_box ul li a{
            text-decoration: none;
            color: gray;
        }
        .page_box ul li a:hover{
            color:#F39C12;
            border:none;
            transition: 0.5s;
        }
        /********** 푸터 영역 **********/
        footer{
            position:absolute;
            width:1536px;
            height:300px;
            margin-top:300px;
            margin-bottom:0px;
            background-color: rgb(245,246,247);
        }
        #infobox{
            position: relative;
            top:20px;
            width:1536px;
            height:300px;
        }
        #infobox ul{
            width:400px;
            height:400px;
        }
        #infobox ul li{
            list-style: none;
            width:400px;
        }
        #infobox span{
            font: 40px solid;
            color:gray;
            font-family: 'Black Han Sans', sans-serif;
            font-family: 'Gasoek One', sans-serif;
            font-family: 'Gothic A1', sans-serif;
            font-family: 'Jua', sans-serif;
        }
        #infobox a{
            font: 30px solid;
            color:gray;
            font-family: 'Black Han Sans', sans-serif;
            font-family: 'Gasoek One', sans-serif;
            font-family: 'Gothic A1', sans-serif;
            font-family: 'Jua', sans-serif;
        }
        #infobox p{
            font: 20px solid;
            color:gray;
            font-family: 'Black Han Sans', sans-serif;
            font-family: 'Gasoek One', sans-serif;
            font-family: 'Gothic A1', sans-serif;
            font-family: 'Jua', sans-serif;
        }