@charset "UTF-8";
    h1{font-size:0;}
        * {	margin:0;
          	padding:0;
        }
        body{
            overflow-x: hidden;
        }
        #wrap{
            width: 1536px;
            height: 1500px;
            margin: 0 auto;
        }   
        /********** 헤더 영역 **********/
        header{
            width:1536px;
            height: 245px;
        }
        #main_logo{
            position:relative;
            top: 50px;
            left:-7px;
            height: 200px;
            width: 350px;
            cursor: pointer;
        }
        #c1{
            position:relative;
            left: 1160px;
            bottom:786px;
            width:36px;
            height:36px;
        }
        #c2{
            position: relative;
            left: 37px;
            top:63px;
            height:45px;
            width:45px;
        }
        #c3{
            position: relative;
            left:262px;
            top:63px;
            height:45px;
            width:45px;
        }
        #c4{
            position: relative;
            left: 462px;
            top:66px;
            height:45px;
            width:45px;
        }
        #c5{
            position: relative;
            left: 663px;
            top:63px;
            height:45px;
            width:45px;
        }
        #header_list{
            position: relative;
            left:457px;
            bottom:80px;
        }
        #header_list ul li{
            display:inline;
            width:260px;
            float: left;
            list-style: none;
        }
        #header_list ul li a{
            font: 40px solid;
            font-family: 'Grape Nuts', cursive;
            font-family: 'Nanum Pen Script', cursive;
            color:gray;
            text-decoration-line: none;
        }
        header span{
            font: bold 50px solid;
            font-family: 'Grape Nuts', cursive;
            font-family: 'Nanum Pen Script', cursive;
            color: #F39C12;
        }
        #line1{
            position: relative;
            left:400px;
            width:1136px;
            border-top: 1px solid gray;
        }



        /********** 메인 영역 **********/


        #container-content{
            display: inline-block;
            width: 1536px; 
            height: 1300px;
            margin: 0 auto;
        }
        #all_box{
        	position:relative;
        	left:50px;
            width: 100%;
            max-width: 1200px;
            height: 1200px;
            margin: 0 auto;
            text-align: center;
            font-family: 'Jua', sans-serif;
        }
        #view_box{
            width: 1137px;
            margin: 50px 0 30px 0;
            padding:10px 30px;
        }
        #shop_img{
            width: 380px;
            height: 260px;
            border: 1px solid lightgray;
        }
        #shop_img img{
            width: 380px;
            height: 260px;
            border-radius: 15px;
        }
        #view_table{
			width: 100%;
            max-width: 1137px;
            text-align: left;
            color: rgba(0, 0, 0, 0.788);
        }
        #view_table tr td{
            padding: 10px;
            height: 50px;
            font: 30px solid;
            font-family: 'Jua', sans-serif;
        }
        #view_table tr td a{
            text-decoration: none;
            color: gray;
            font: 30px solid;
            font-family: 'Jua', sans-serif;
        }
        #view_table tr td a:hover{
            color:#F39C12;
            border:none;
            transition: 0.5s;
        }
        #view_table tr th h2{
            height: 80px;
            font: 50px solid;
            font-family: 'Jua', sans-serif;
            margin: 0;
            padding: 10px;
        }
        #tel_img img{
            padding-bottom: 5px;
            padding-right: 10px;
        }



        /********** 빵집 상세보기 끝 **********/


        /********** 픽업 테이블 **********/
        #pickup_box{
            width: 1137px;
            height: 1000px;
            padding:10px 30px 30px 30px;
            text-align: left;
        }
        #pickup_box_table{
            width: 1077px;
            height: 170px;
            margin-top: 20px;
            padding-bottom: 10px;
            border-bottom: 1px solid lightgrey;
        }
        #pickup_box tr{
            width:1536px;
            }
        #pickup_box tr td{
            padding: 0 20px 0 20px;
            height: 20px;
            color: gray;
            font: 25px solid;
            font-family: 'Jua', sans-serif;
        }
        #bread_time{
        	width: 800px;
        }
        .bakery_img{
            width: 120px;
            height: 120px;
        }
        .bakery_img img{
            width: 120px;
            height: 120px;
            border-radius: 50%;
        }
        
        #bread_name{
        	font: 30px solid;
            font-family: 'Jua', sans-serif;
            color: rgba(0, 0, 0, 0.788);
        }
        #select_box{
        	position: relative;
            right:12px;
        	width: 150px;
        }
        #select_box input[type=number]{
        	width: 60px;
        	padding-top:3px;
        	border: 1px solid lightgrey;
        	color: rgba(0, 0, 0, 0.788);
        }
        #select_box input[type=number]:focus{
        	border: 1px solid lightgrey;
        	outline: none;
        	color: rgba(0, 0, 0, 0.788);
        }
        #select_box button{
        	position: relative;
        	top: 2px;
            font-size: 25px;
            font-family: 'Jua', sans-serif;
            cursor: pointer;
            border:none;
            color:gray;
            background-color: white;
            margin-left: 5px;
        }
        #select_box button:hover{
            color:#F39C12;
            border:none;
            transition: 0.5s;
        }
        
        #pickup_btn{
            font-size: 25px;
            font-family: 'Jua', sans-serif;
            cursor: pointer;
            border:none;
            color:gray;
            background-color: white;
        }
        #pickup_btn:hover{
            color:#F39C12;
            border:none;
            transition: 0.5s;
        }
        #like_img{
        	width:30px;
        	height:30px;
        }
        #like{
        	position:relative;
        	right:900px;
        	bottom:5px;
        	width:40px;
        	height:40px;
        	border:none;
        	background-color:white;
        }	
        #cart_btn{
            float: right;
            height: 40px;
            margin-top: 10px;
            background-color: white;
            border: none;
            color: gray;
            font: 25px solid bold;
            font-family: 'Jua', sans-serif;
        }
        #cart_btn:hover{
            color:#F39C12;
            border:none;
            transition: 0.5s;
        }


        /********** 픽업 테이블 끝 **********/
		#r_text{
			color:#F39C12;
			font-size: 25px;
		}
		#b_name{
			width: 350px;
		}
		#num_box{
			width: 180px;
			text-align: right;
		}
		#b_price{
			width: 200px;
			text-align: right;
		}
		#all_price{
			width: 230px;
			text-align: right;
		}
		#p_text{
			position: relative;
			top: 2px;
			font-size: 30px;
			color: rgba(0, 0, 0, 0.788);
		}
        #re_del_btn{
        	background-color: #fff;
        	border: none;
        	width: 30px;
        	heigth: 30px;
        	position: relative;
        	left: 1010px;
        	bottom: 65px;
        	font-size: 25px;
        }
        #result_box2{
        	font-size: 30px;
        	height: 100px;
            padding: 30px 20px 20px 20px;
            border: 1px solid lightgrey;
            border-radius: 15px;
            margin-top: 15px;
        }
       	input[type=number]{
       		padding-top:2px;
        	padding-left: 10px;
        	color: rgba(0, 0, 0, 0.788);
        }
        
        
        
        /********************/
		#noBread{
			position:relative;
    		top: 200px;
			width: 300px;
			margin: 0 auto;
			text-align: center;
			font: 25px solid;
    		color:gray;
    		font-family: 'Jua', sans-serif;
    		border-bottom: 1px solid lightgray;
		}




        /********** 풋터 **********/
        footer{
            position:absolute;
            top: 1450px;
            width:1536px;
            height:300px;
            margin-top:300px;
            margin-bottom:0px;
            background-color: rgb(245,246,247);
        }
        #infobox{
            position: relative;
            top:20px;
            width:1536px;
            height:300px;
        }
        #infobox ul{
            width:400px;
            height:400px;
        }
        #infobox ul li{
            list-style: none;
            width:400px;
        }
        #infobox span{
            font: 40px solid;
            color:gray;
            font-family: 'Black Han Sans', sans-serif;
            font-family: 'Gasoek One', sans-serif;
            font-family: 'Gothic A1', sans-serif;
            font-family: 'Jua', sans-serif;
        }
        #infobox a{
            font: 30px solid;
            color:gray;
            font-family: 'Black Han Sans', sans-serif;
            font-family: 'Gasoek One', sans-serif;
            font-family: 'Gothic A1', sans-serif;
            font-family: 'Jua', sans-serif;
        }
        #infobox p{
            font: 20px solid;
            color:gray;
            font-family: 'Black Han Sans', sans-serif;
            font-family: 'Gasoek One', sans-serif;
            font-family: 'Gothic A1', sans-serif;
            font-family: 'Jua', sans-serif;
        }